@charset "UTF-8";
.azul{
    background-color: blue;
    color: white;
}
.vermelho{
    background-color: red;
    font-size: 45px;
    color: white;
}
.verde{
    background-color: green;
    color: black;
}
#telefone{
    display: none;
}